<link rel="stylesheet" href="homeTemplate.css" type="text/css">

<body>
	<div class="home_icons">
		<a href="/prescription_page" class="pageText" id="newRX">
			<img class="icon" src="icons/rx.png" alt="Prescription">
	 		Add Prescription
	
	 	<a href="/otc_page" class="pageText" id="newOTC">
			<img class="icon" src="icons/over_the_counter.png" alt="Over the counter">
			Add Over-the-Counter
	 	</a>
	
	 	<a href="/survey_instructions" class="pageText" id="survey">
			<img class="icon" src="icons/survey.png" alt="Survey">
			Take Survey
	 	</a>
	
		<a href="" class="pageText" id="calendar">
	 		<img class="icon" src="icons/calendar.png" alt="calendar">
			Calendar
		</a>
	</div>
</body>
