<div id="mainDiv">
   <div>
      <div id ="pageName">
         <p> {{pageName}} </p>
      </div>
   </div>
   <div>
      <ul>
         <li class="pageList pageText">Step 1: Read the question carefully.</li>
         <li class="pageList pageText">Step 2: Move the sliding bar to answer the question. 1 being the least intense, 10 being the most intense.</a></li>
         <li class="pageList pageText">Step 3: Click the "next" arrow to submit your answer and move to the next question.</li>
         <li class="pageList pageText">Step 4: Continue until the survey is finished.</li>
      </ul>
      <div>
         <a href="/" class="pageText" id="home">Return To Homepage</a>
         <a href="/survey" class="pageText" id="meds">Continue To Take The Survey</a>
      </div>
   </div>
</div>
