<div id="mainDiv">
   <div>
      <div id ="pageName">
         <p> {{pageName}} </p>
      </div>
   </div>
   <div>
      <ul>
         <li class="pageList pageText">Question {{questionNumber}}: {{surveyQuestion}}</li>
      </ul>
      <div class="slidecontainer">
         <input type="range" min="0" max="10" value="5" class="slider" id="myRange">
      </div>
      <div class="SurveyNav">
         <a href="/" class="pageText" id="home">Return To Homepage</a>
         <a href="/survey" class="pageText" id="meds">Continue To The Next Question</a>
      </div>
   </div>
</div>
